/*
 *  scrollbar
 */

::-webkit-scrollbar {
	width: 7px;
	height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: rgba(189, 189, 189, 0.4);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font-size: 12px;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: #2F3239;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.main {
	background: grey;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.main-body {
	flex: 1;
	display: flex;
}

.main-footer {
	flex: 0 0 auto;
	display: flex;
	height: 40px;
}


/*工具栏*/

.toolbar {
	width: 45px;
	min-width: 45px;
	display: flex;
	background: #2f2f2f;
}

.toolbar>ul {
	flex: 1;
}

.toolbar>ul>li {
	color: white;
	text-align: center;
	height: 45px;
	padding-top: 14px;
}

.toolbar>ul>li:hover {
	background: grey;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
}

.toolbar img {
	width: 20px;
	height: 20px;
}

li.setting {
	position: fixed;
	bottom: 0;
	width: 45px;
}


/*文章列表*/

.article-list-layout {
	width: 320px;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	background: #2F3239;
}

.search-form {
	height: 60px;
	min-height: 60px;
	padding-left: 14px;
	display: flex;
	align-items: center;
}

.search {
	height: 30px;
	box-sizing: border-box;
	padding: 0 30px;
	border: 1px solid #e3e3e3;
	outline: none;
	border-radius: 15px;
	transition: border-color 0.2s ease;
	background: #fff url("http://vuejs.org.cn/images/search.png") 8px 5px no-repeat;
	background-size: 20px;
}

.search:active {
	border: 1px solid green;
}

.article-list {
	flex: 1;
	overflow-y: scroll;
}

.article-item {
	background: #2F3239;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}

.article-item:hover {
	background: #3A3F45;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
}

.article-item h1 {
	font-weight: 400;
	font-size: 0.9rem;
	color: #fff;
	max-height: 40px;
	line-height: 1.3rem;
	overflow: hidden;
}

.article-item p {
	font-size: 0.8rem;
	color: #a2a2b0;
	line-height: 1.5rem;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.article-item img {
	height: 20px;
	width: 20px;
}

.info {
	display: flex;
	margin-top: 15px;
	align-items: center;
}

.author {
	font-size: 12px;
	color: #a3a5b4;
	margin-left: 20px;
}

.divider {
	margin-top: 8px;
	height: 1px;
	background: #292D32;
	margin-left: -10px;
	margin-right: -10px;
}


/*文章详情*/

.article-detail {
	flex: 1 0 auto;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.webview {
	flex: 1;
}
