/*
 *  scrollbar
 */

::-webkit-scrollbar {
	width: 7px;
	height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: rgba(189, 189, 189, 0.4);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	line-height: 20px;
	color: gray;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	background-color: #2F3239;
}

a {
	text-decoration: none;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

div,
h2,
p,
figure {
	margin: 0;
	padding: 0;
}

.header {}

.main-header {
	background: white;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 50px;
}

.logo {
	font-size: 30px;
	color: #2f3edf;
	text-decoration: none;
}

.avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	float: right;
	clear: both;
	margin-left: 10px;
}

.admin-name {
	margin-top: 10px;
	font-size: 17px;
	color: #787EC1;
	float: right;
}

.welcome h1 {
	font-size: 2rem;
	color: #474b6a;
	text-align: center;
	margin-top: 100px;
}

.welcome p {
	font-size: 1rem;
	color: #474b6a;
	text-align: center;
	margin-top: 8px;
}

.number {
	display: flex;
	margin-top: 60px;
}

.newpost {
	text-align: center;
	width: 30%;
}

.newpost h2 {
	font-size: 37px;
	color: #26dfc0;
}

.newpost p {
	font-size: 15px;
	color: #82828e;
}

.line {
	width: 1px;
	background: #E0E0E0;
}

.article-container {
	padding-top: 55px;
	padding-left: 155px;
	padding-right: 155px;
}


/*文章列表 日历*/

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.calander {
	list-style: none;
	display: flex;
	align-items: center;
}

.summary {
	font-size: 17px;
	color: #474b6a;
	margin: 26px;
}

.button {
	border-radius: 36px;
	background-color: #7c90e3;
	padding: 10px 15px;
	margin: 5px;
	font-size: 14px;
	color: #ffffff;
}

.next-button {
	padding: 10px 15px;
	margin: 5px;
	font-size: 14px;
	list-style: none;
	color: #7c90e3;
}

.next-button:hover {
	background-color: #7c90e3;
	color: #ffffff;
}


/*文章*/

.author {
	font-size: 12px;
	color: #a3a5b4;
	margin-left: 20px;
}

.publish-date {
	font-size: 10px;
	color: #b2b5bc;
	margin-left: 15px;
}

.main-footer {
	height: 150px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #797676;
	margin-top: 50px;
}

.main-footer span {
	margin: 5px;
}

.background-cover {
	background-position: 50%;
	background-repeat: no-repeat no-repeat;
	background-size: cover;
}

.main {
	/*display: flex;*/
	position: relative;
	min-width: 800px;
	margin: 0 auto;
	background: black;
}

.toolbar {
	left: 0;
	top: 0;
	position: fixed;
	height: 100%;
	background: #2a2a2a;
	width: 45px;
	overflow: visible;
	margin-bottom: 20px;
	z-index: 1049;
}

.toolbar li{
	color: white;
	text-align: center;
	height: 45px;
	padding-top: 14px;
}

.toolbar li:hover {
	background: grey;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s ;
}

.toolbar img{
	width: 20px;
	height: 20px;
}

li.setting {
    position: fixed;
    bottom: 0;
    width: 45px;
}

/*文章列表*/

.row-fluid {
	margin-left: 45px;
	width: 100%;
}

.article-list {
	height: 100%;
	width: 300px;
	max-width: 320px;
	position: fixed;
	background: #2F3239;
	overflow-y: auto;
}

.article-detail {
	margin-left: 300px;
	min-width: 500px;
	overflow-y: auto;
	background: white;
	position: relative;
}


/*文章*/

.article-item {
	background: #2F3239;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}
.article-item:hover{
	background: #3A3F45;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
}

.article-item h1 {
	font-weight: 400;
	font-size: 0.9rem;
	color: #fff;
	max-height: 40px;
	line-height: 1.3rem;
}

.article-item p {
	font-size: 0.8rem;
	color: #a2a2b0;
	line-height: 1.5rem;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.article-item img {
	height: 20px;
	width: 20px;
}

.info {
	display: flex;
	margin-top: 15px;
	align-items: center;
}

.divider {
	margin-top: 8px;
	height: 1px;
	background: #292D32;
	margin-left: -10px;
	margin-right: -10px;
}

iframe {
	width: 100%;
	height: 900px;
}