/*
 *  scrollbar
 */

::-webkit-scrollbar {
	width: 7px;
	height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: rgba(189, 189, 189, 0.4);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 12px;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	background-color: #2F3239;
}

a {
	text-decoration: none;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}


/*文章*/

.author {
	font-size: 12px;
	color: #a3a5b4;
	margin-left: 20px;
}

.publish-date {
	font-size: 10px;
	color: #b2b5bc;
	margin-left: 15px;
}

.main-footer {
	height: 150px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #797676;
	margin-top: 50px;
}

.main-footer span {
	margin: 5px;
}

.background-cover {
	background-position: 50%;
	background-repeat: no-repeat no-repeat;
	background-size: cover;
}

.main {
	/*display: flex;*/
	position: relative;
	min-width: 800px;
	margin: 0 auto;
}

.toolbar {
	left: 0;
	top: 0;
	position: fixed;
	height: 100%;
	background: #2a2a2a;
	width: 45px;
	overflow: visible;
	margin-bottom: 20px;
	z-index: 1049;
}

.toolbar li{
	color: white;
	text-align: center;
	height: 45px;
	padding-top: 14px;
}

.toolbar li:hover {
	background: grey;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s ;
}

.toolbar img{
	width: 20px;
	height: 20px;
}

li.setting {
    position: fixed;
    bottom: 0;
    width: 45px;
}

/*文章列表*/

.row-fluid {
	margin-left: 45px;
	width: 100%;
}

.search{
		height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    outline: none;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: border-color 0.2s ease;
    background: #fff url("http://vuejs.org.cn/images/search.png") 8px 5px no-repeat;
    background-size: 20px;
}


.article-list {
	height: 100%;
	width: 300px;
	max-width: 320px;
	position: fixed;
	background: #2F3239;
	overflow-y: auto;
}
.search-form{
	width: 291px;
    position: fixed;
    background: #2f3239;
}

.articleList{
	padding-top: 65px;
}

.article-detail {
	margin-left: 300px;
	width: 500px;
	height: 718px;
	overflow-y: auto;
	background: white;
	position: relative;
}

webview{
  display:inline-flex;
	width:100%;
  height:100%;
}


/*文章*/

.article-item {
	background: #2F3239;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}
.article-item:hover{
	background: #3A3F45;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
}

.article-item h1 {
	font-weight: 400;
	font-size: 0.9rem;
	color: #fff;
	max-height: 40px;
	line-height: 1.3rem;
}

.article-item p {
	font-size: 0.8rem;
	color: #a2a2b0;
	line-height: 1.5rem;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.article-item img {
	height: 20px;
	width: 20px;
}

.info {
	display: flex;
	margin-top: 15px;
	align-items: center;
}

.divider {
	margin-top: 8px;
	height: 1px;
	background: #292D32;
	margin-left: -10px;
	margin-right: -10px;
}

iframe {
	width: 100%;
	height: 900px;
}
