<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Android日报</title>
		<link rel="stylesheet" href="./css/main.css">
		<link rel='shortcut icon' href='./images/favicon.ico' />
	</head>

	<body>
		<div class="main" id="app">
			<div class="main-body">
				<div class="toolbar">
					<ul>
						<li class="home" v-on:click="showHomePage()"><img src="./images/logo.svg" alt="home"></li>
						<li class="platform" v-on:click="showCsdnArticle()"><img src="./images/csdn.png" alt="csdn"></li>
						<li class="platform" v-on:click="showJianshuArticle()"><img src="./images/jianshu.png" alt="jianshu"></li>
						<li class="platform" v-on:click="showMediumArticle()"><img src="./images/medium.png" alt="medium"></li>
						<li class="setting" v-on:click="showSetting()"><img src="./images/setting.svg" alt="setting"></li>
					</ul>
				</div>
				<div class="article-list-layout">
					<form class="search-form">
						<input type="text" class="search" placeholder="search" v-model="searchKey" v-on:keyup.enter="searchArticle">
					</form>
					<div class="article-list">
						<article v-for="article in articles">
							<a href="#" v-on:click="changeArticle($index)">
								<div class="article-item">
									<h1>{{ article.title }}</h1>
									<p>{{ article.subtitle }}</p>
									<div class="info">
										<img v-if="article.article_from == 'jianshu' " src="./images/jianshu.png">
										<img v-if="article.article_from == 'medium' " src="./images/medium.png">
										<img v-if="article.article_from == 'csdn' " src="./images/csdn.png">
										<img v-if="article.article_from == 'weixin' " src="./images/weixin.png">
										<span class="author">{{ article.author_name }}</span>
										<!--<span class="publish-date">{{ article.created_at }}</span>-->
									</div>
									<div class="divider"></div>
								</div>
							</a>
						</article>
					</div>
				</div>
				<div class="article-detail">
					<webview class="webview" src="{{ currentUrl }}" useragent="Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.76 Mobile Safari/537.36">
					</webview>
				</div>
				<div class="main-footer">
				</div>
			</div>
			<script src="https://cdn1.lncld.net/static/js/av-mini-0.6.4.js"></script>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="./js/main.js"></script>
	</body>
</html>
