<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Android日报</title>
	<link rel="stylesheet" href="./css/main.css">
	<link rel='shortcut icon' href='/images/favicon.ico' />

</head>

<body>

	<div class="main" id="app">
		<div class="toolbar">
			<ul>
				<li class="home" v-on:click="showHomePage()"><img src="http://bmob-cdn-878.b0.upaiyun.com/2016/06/11/1aec794940e4e7ac80b0a02b464da343.svg" alt="home"></li>
				<li class="platform" v-on:click="showCsdnArticle()"><img src="https://dn-coding-net-production-pp.qbox.me/f168a279-72e1-4654-b9ba-44bc165dd416.png" alt="csdn"></li>
				<li class="platform" v-on:click="showJianshuArticle()"><img src="http://file.bmob.cn/M03/0C/37/oYYBAFb-fbiAEJQGAAB6nie4SOk353.jpg" alt="jianshu"></li>
				<li class="platform" v-on:click="showMediumArticle()"><img src="http://file.bmob.cn/M03/0C/38/oYYBAFb-fc2AdJjCAAAkM0vHqfQ373.png" alt="medium"></li>
				<li class="setting" v-on:click="showSetting()"><img src="http://bmob-cdn-878.b0.upaiyun.com/2016/06/11/d4af4b2a40e65ee2806fbf0486d9914a.svg" alt="setting"></li>
			</ul>
		</div>
		<div class="row-fluid">
			<div class="article-list">
				<section>
					<form id="search-form">
						<input type="text" class="search">
					</form>
					<div id="articleList">
						<article v-for="article in articles">
							<a href="#" v-on:click="changeArticle($index)">
								<div class="article-item">
									<h1>{{ article.title }}</h1>
									<p>{{ article.subtitle }}</p>
									<div class="info">
										<img v-if="article.article_from == 'jianshu' " src="http://file.bmob.cn/M03/0C/37/oYYBAFb-fbiAEJQGAAB6nie4SOk353.jpg">
										<img v-if="article.article_from == 'medium' " src="http://file.bmob.cn/M03/0C/38/oYYBAFb-fc2AdJjCAAAkM0vHqfQ373.png">
										<img v-if="article.article_from == 'csdn' " src="https://dn-coding-net-production-pp.qbox.me/f168a279-72e1-4654-b9ba-44bc165dd416.png">
										<img v-if="article.article_from == 'weixin' " src="http://bmob-cdn-878.b0.upaiyun.com/2016/05/23/c4a6db8540f151fa807d5c5d3466f9a0.png">
										<span class="author">{{ article.author_name }}</span>
										<!--<span class="publish-date">{{ article.created_at }}</span>-->
									</div>
									<div class="divider"></div>
								</div>
							</a>
						</article>
					</div>
				</section>

			</div>
			<div class="article-detail">
				<webview id="foo" src="{{ currentUrl }}" useragent="Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.76 Mobile Safari/537.36"
					style="display:inline-flex; width:100%; height:100%">
				</webview>
			</div>
		</div>
	</div>

	<script src="https://cdn1.lncld.net/static/js/av-mini-0.6.4.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/main.js"></script>
</body>

</html>